<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <insert id="save" parameterType="member" useGeneratedKeys="true" keyProperty="id">
        insert into memberboard_member_table(memberEmail, memberPassword, memberName, memberMobile, profileAttached)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberMobile}, #{profileAttached})
    </insert>

    <insert id="saveProfile" parameterType="memberProfile">
        insert into memberboard_memberfile_table(originalFileName, storedFileName, memberId)
        values (#{originalFileName}, #{storedFileName}, #{memberId})
    </insert>

    <select id="findByEmail" parameterType="String" resultType="member">
        select * from memberboard_member_table where memberEmail = #{memberEmail}
    </select>

    <select id="login" parameterType="member" resultType="member">
        select * from memberboard_member_table where memberEmail = #{memberEmail} and memberPassword = #{memberPassword}
    </select>

</mapper>














